::selection {
	background-color: var(--accent) !important;
	color: #fff;
	text-shadow: 0 0 12px #fff !important;
 }
.appMount-3lHmkl {
	--theme-name: 'Sandw-CH';
	--theme-long-name: 'Sandw-CH UI';
	--theme-version: 'v0.1';
}
