        /*  RANDOM SHIT THAT GETS IN THE WAY */

.channel-2QD9_O[href="/activity"] .name-uJV0GL, .channel-2QD9_O[href="/library"] .name-uJV0GL, 
.channel-2QD9_O[href="/store"] .name-uJV0GL, .channel-2QD9_O[href="/channels/@me"] .name-uJV0GL{
    display:none;
}
body.clickable{
cursor:no-drop !important;
}
/*   COLOURS  /  VARIABLES  */
:root {
    --accent: #adb1f5 !important;
    --accent-selected: #b7bcf7;
    --text:#cfd0f1;
    --text-selected:#e1e1f3;
    --roundness: 0;
    --hover: #aea2f5 !important;
    --hover-bg:#d4b9d524;
    --hover-selected:#d6d0f3;
    --hover-selected-bg:#c3b4d061;
    --selected-bg:#ffe9ff38;
    --lv1:#1e242f !important;

}

 ::selection {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1px #6f6f6f;
    /* box-shadow: 0 0 10px 10px #d09d9d; */
}

    /* CHAT  */ 
    /*  DMs SIDEBAR  */ 
.channel-2QD9_O {
    border-radius:var(--roundness) !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 0px 0;
    -webkit-transition: 0ms;
    color: var(--text);
    transition: 0ms;
    width: 100%;
    margin-left: 0px;
    border-left: 3px solid rgba(255, 255, 255, 0.3);
} 
.layout-2DM8Md {
    border-radius:var(--roundness);
}
.channel-2QD9_O[href="/activity"], .channel-2QD9_O[href="/library"],  
.channel-2QD9_O[href="/store"], .channel-2QD9_O[href="/channels/@me"]{
    background-color: transparent;
    color:var(--accent);
    box-sizing: border-box;
    display: -webkit-inline-box;
    margin: 2px;
    width: 55px;
    border: none;
    left: 10px;
    position:relative;
    height: 40px;
    padding: 0;
    transition: 100ms cubic-bezier(0.64, 0.12, 0.44, 1.05);
}
.channel-2QD9_O[href="/activity"] .avatar-3uk_u9, .channel-2QD9_O[href="/library"] .avatar-3uk_u9, 
.channel-2QD9_O[href="/store"] .avatar-3uk_u9, .channel-2QD9_O[href="/channels/@me"] .avatar-3uk_u9{
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.channel-2QD9_O[href="/activity"] .layout-2DM8Md, .channel-2QD9_O[href="/library"] .layout-2DM8Md, 
.channel-2QD9_O[href="/store"] .layout-2DM8Md, .channel-2QD9_O[href="/channels/@me"] .layout-2DM8Md{
    border-radius:var(--roundness);
    margin: 0px;
    padding: 0px;
    width: 55px;
    padding-left: 0;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: transparent;
}


.channel-2QD9_O[href="/activity"].selected-aXhQR6, .channel-2QD9_O[href="/library"].selected-aXhQR6,
.channel-2QD9_O[href="/store"].selected-aXhQR6, .channel-2QD9_O[href="/channels/@me"].selected-aXhQR6 {
    background:var(--selected-bg);
    color:var(--accent-selected);
    bottom:0px;
    box-shadow:0 0px 33px -10px var(--accent-selected); 
}
.channel-2QD9_O[href="/activity"]:not(.selected-aXhQR6):hover, .channel-2QD9_O[href="/library"]:not(.selected-aXhQR6):hover,
.channel-2QD9_O[href="/store"]:not(.selected-aXhQR6):hover, .channel-2QD9_O[href="/channels/@me"]:not(.selected-aXhQR6):hover {
    border-radius:var(--roundness);
    color:var(--hover);
    background:var(--hover-bg);
    box-shadow:0 0 14px -7px var(--hover);
}
.channel-2QD9_O[href="/activity"]:hover, .channel-2QD9_O[href="/library"]:hover, 
.channel-2QD9_O[href="/store"]:hover, .channel-2QD9_O[href="/channels/@me"]:hover {            /*ONLY IF SELECTED*/
    color:var(--hover-selected);
    background:var(--hover-selected-bg);
    box-shadow:0 0 35px -10px;
}

.channel-2QD9_O:hover .layout-2DM8Md{
    border-radius:var(--roundness);
    background: var(--hover-bg);
    color:var(--hover);
    box-shadow:0 0 20px -4px var(--hover-bg);
    text-shadow:0 0 2px currentColor;
}


.sidebar-2K8pFh.da-sidebar {
    width: 270px;
    border-radius:var(--roundness);

}
.scroller-1JbKMe {
    background:var(--lv1);
}

.searchBar-6Kv8R2{
    background:var(--lv1);
    box-shadow:inset 0 0 10000px rgba(151, 159, 189, 0.08);
    border-radius:var(--roundness);
}

.channel-2QD9_O.selected-aXhQR6 {
    color:var(--text-selected);
    text-shadow: 0 0 1px currentColor;
}

.channel-2QD9_O.selected-aXhQR6:hover .layout-2DM8Md{
    color:var(--hover-selected);
}




span.headerText-1-AnT0.da-headerText {
    color:inherit;
}

.privateChannelRecipientsInviteButtonIcon-cXLJ7f{
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background: var(--background-accent);
    transition: transform 200ms cubic-bezier(0.26, 0.95, 0.18, 1.52), background 200ms cubic-bezier(0, 0.86, 0.58, 1);
    overflow: visible !important;
}
.privateChannelRecipientsInviteButtonIcon-cXLJ7f:hover{
    transform: scale(1.3);
    overflow:visible !important;
}
.privateChannelsHeaderContainer-Gcpv_s {
    /* top: 10%; */
    padding: 0;
    padding-left: 10px;
    height: fit-content;
    margin: 10px 0 10px 0;
    overflow: visible !important;
}
.privateChannelsHeaderContainer-Gcpv_s:hover {
    color:;
}
.icon-22AiRD.da-icon {
    overflow: visible !important;
}

.channelTextArea-rNsIhG {
    margin: 0;
    /* height: 80px; */
}

.scrollableContainer-2NUZem {
    height: 46px;
    border-radius: 0;
    border: none;
}

.inner-MADQqc.da-inner {
    height: 45px;
}

.attachButton-2WznTc {
    padding: 0;
    margin: 10px;
    height: fit-content;
}
.container-3baos1 {
    height: 45px;
}
.contents-18-Yxp.attachButtonInner-PQjIyk svg{
    height: fit-content;
}

path.attachButtonPlus-jWVFah.da-attachButtonPlus {transform: scale(0.9);}


.form-2fGMdU {
    border: none;
    margin: 0;
}

.attachWrapper-2TRKBi {
    width: 28px;
}

.attachButton-2WznTc.grow-q77ONN {display: flex;}

.base-gE7OpD {
    
}