@import url('https://tropix126.github.io/BetterDiscordStuff/midnight/css/segoe.css');
@import url('https://bdsources.github.io/sourcecheck/blob/master/code.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/friendgrid/v3/css/base.css');

::selection {
	background-color: var(--accent) !important;
	color: #fff;
	text-shadow: 0 0 12px #fff !important;
 }
.appMount-3lHmkl {
	--theme-name: 'Sandw-CH';
	--theme-long-name: 'Sandw-CH UI';
	--theme-version: 'v0.1';
}
